:root {
	--mauve: #cba6f7;
	--red: #f38ba8;
	--yellow: #ffd16d;
	--blue: #448fff;
	--lavender: #b4befe;
	--text1: #ddd;
	--text2: #8f929e;
	--text3: #9399b2;
	--text4: #7f849c;
	--bg1: #2f2f2fb8;
	--bg2: #3f3f3fb8;
	--bg3: #585858b8;
}
* {
	font-size: 14px;
	color: var(--text1);
	font-weight: 600;
	font-family: "JetBrainsMono NFP";
}
.yasb-bar {
	background-color: var(--bg1);
	border-radius: 8px;
	border: 1 solid var(--bg3);
}

/* Global styles for ToolTip */
.tooltip {
	background-color: var(--bg1);
	border-radius: 4px;
	color: var(--text1);
	padding: 5px 10px;
	font-size: 12px;
	font-weight: 500;
	margin-top: 4px;
}

/* Global context menu style */
.context-menu,
.context-menu .menu-checkbox {
	background-color: var(--bg1);
	padding: 4px 0px;
	font-size: 12px;
	color: var(--text1);
}
.context-menu {
	border-radius: 8px;
	border: 1 solid var(--bg3);
}
.context-menu::right-arrow {
	width: 8px;
	height: 8px;
	padding-right: 24px;
}
.context-menu::item,
.context-menu .menu-checkbox {
	background-color: transparent;
	padding: 6px 12px;
	margin: 2px 6px;
	border-radius: 6px;
	min-width: 100px;
}
.context-menu::item:selected,
.context-menu .menu-checkbox:hover {
	background-color: var(--bg2);
	color: #ffffff;
}
.context-menu::separator {
	height: 1px;
	background-color: #404040;
	margin: 4px 8px;
}
.context-menu::item:disabled {
	color: #666666;
	background-color: transparent;
}
.context-menu .menu-checkbox .checkbox {
	border: none;
	padding: 8px 16px;
	font-size: 12px;
	margin: 0;
	color: var(--text1);
}
.context-menu .submenu::item:disabled {
	margin: 0;
	padding-left: 16px;
}
.context-menu .menu-checkbox .checkbox:unchecked {
	color: var(--text2);
}
.context-menu .menu-checkbox .checkbox::indicator {
	width: 12px;
	height: 12px;
	margin-left: 0px;
	margin-right: 8px;
}
.context-menu .menu-checkbox .checkbox::indicator:unchecked {
	background: #444444;
	border-radius: 2px;
}
.context-menu .menu-checkbox .checkbox::indicator:checked {
	background: var(--blue);
	border-radius: 2px;
}
.context-menu .menu-checkbox .checkbox:focus {
	outline: none;
}

.widget {
	padding: 0 4px;
	margin: 0 2px 0 2px;
}
.icon {
	font-family: "JetBrainsMono NFP";
	font-size: 16px;
	margin: 0 4px 0 0;
}
.widget .label {
	padding: 0 8px 0 2px;
}

.home-widget {
	padding: 0 8px 0 16px;
}
.home-widget .icon {
	color: var(--lavender);
}
.home-widget .icon:hover {
	color: var(--text1);
}

.home-menu {
	background-color: var(--bg1);
	border-radius: 8px;
	border: 1px solid var(--bg3);
}
.home-menu .menu-item {
	padding: 8px 64px 8px 8px;
	border-radius: 8px;
	font-size: 12px;
	font-family: "Segoe UI";
	color: var(--text1);
	font-weight: 600;
}
.home-menu .menu-item:hover {
	background-color: var(--bg2);
	color: var(--text1);
}
.home-menu .separator {
	max-height: 1px;
	background-color: var(--bg2);
}

.glazewm-workspaces .ws-btn {
	border: none;
	padding: 2 6;
	margin: 0 3;
	color: var(--lavender);
}
.glazewm-workspaces .ws-btn.active_populated,
.glazewm-workspaces .ws-btn.active_populated:hover {
	color: var(--lavender);
	background-color: var(--bg3);
}
.glazewm-workspaces .ws-btn.populated {
	color: var(--lavender);
}
.glazewm-workspaces .ws-btn.active_empty {
	background-color: var(--bg2);
	color: #7d8b9d;
}
.glazewm-workspaces .ws-btn:hover {
	background-color: var(--bg2);
}

.notification-widget .icon {
	font-size: 14px;
}
.notification-widget .icon.new-notification {
	color: var(--blue);
}

.active-window-widget .widget-container .icon {
	padding: 0 0 0 8
}

.calendar {
	background-color: var(--bg1);
	border-radius: 8px;
	border: 1px solid var(--bg2);
}
.calendar .calendar-table,
.calendar .calendar-table::item {
	background-color: rgba(17, 17, 27, 0);
	color: rgba(162, 177, 196, 0.85);
	font-family: "Segoe UI";
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
.calendar .calendar-table::item:selected {
	color: #000000;
	background-color: var(--blue);
	border-radius: 10px;
}
.calendar .day-label {
	margin-top: 20px;
}
.calendar .day-label,
.calendar .month-label,
.calendar .date-label,
.calendar .week-label,
.calendar .holiday-label {
	font-family: "Segoe UI";
	font-size: 16px;
	color: #fff;
	font-weight: 700;
	min-width: 180px;
	max-width: 180px;
}
.calendar .week-label,
.calendar .holiday-label {
	font-size: 12px;
	font-weight: 600;
	color: rgba(162, 177, 196, 0.85);
}
.calendar .holiday-label {
	color: rgba(162, 177, 196, 0.85);
	font-weight: 700;
}
.calendar .month-label {
	font-weight: normal;
}
.calendar .date-label {
	font-size: 88px;
	font-weight: 900;
	color: rgb(255, 255, 255);
	margin-top: -20px;
}

.media-widget {
	padding: 8;
	margin: 0;
	border-radius: 0;
}
.media-widget .btn {
	color: #7a7f8b;
	padding: 0 4px;
	margin: 0;
	font-family: "JetBrainsMono NFP";
	font-weight: 400;
	font-size: 20px;
}
.media-widget .btn:hover {
	color: #babfd3;
}
.media-widget .btn.play {
	font-size: 24px;
	color: #989caa;
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
	color: #4e525c;
	background-color: rgba(0, 0, 0, 0);
	font-size: 20px;
}
.media-menu {
	min-width: 420px;
	max-width: 420px;
	background-color: var(--bg1);
	border-radius: 8px;
	border: 1px solid var(--bg2);
}
.media-menu .title,
.media-menu .artist,
.media-menu .source {
	font-size: 14px;
	font-weight: 600;
	margin-left: 10px;
	font-family: "Segoe UI";
}
.media-menu .artist {
	font-size: 13px;
	color: #6c7086;
	margin-top: 0px;
	margin-bottom: 8px;
}
.media-menu .source {
	font-size: 11px;
	color: #000;
	font-weight: normal;
	border-radius: 4px;
	background-color: #bac2de;
	padding: 2px 4px;
}
.media-menu .source.firefox {
	background-color: #ff583b;
	color: #ffffff;
}
.media-menu .source.spotify {
	background-color: #199143;
	color: #ffffff;
}
.media-menu .source.edge {
	background-color: #0078d4;
	color: #ffffff;
}
.media-menu .source.windows-media {
	background-color: #0078d4;
	color: #ffffff;
}
.media-menu .btn {
	font-family: "Segoe Fluent Icons";
	font-size: 14px;
	font-weight: 400;
	margin: 10px 2px 0px 2px;
	min-width: 40px;
	max-width: 40px;
	min-height: 40px;
	max-height: 40px;
	border-radius: 20px;
}
.media-menu .btn.prev {
	margin-left: 10px;
}
.media-menu .btn:hover {
	color: white;
	background-color: rgba(255, 255, 255, 0.1);
}
.media-menu .btn.play {
	background-color: rgba(255, 255, 255, 0.1);
	font-size: 20px;
}
.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
	color: #4e525c;
	background-color: rgba(0, 0, 0, 0);
}
.media-menu .playback-time {
	font-size: 13px;
	font-family: "Segoe UI";
	color: #7f849c;
	margin-top: 20px;
	min-width: 100px;
}
.media-menu .progress-slider {
	height: 10px;
	margin: 5px 4px;
	border-radius: 3px;
}
.media-menu .progress-slider::groove {
	background: transparent;
	height: 2px;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.1);
}
.media-menu .progress-slider::groove:hover {
	background: transparent;
	height: 6px;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.2);
}
.media-menu .progress-slider::sub-page {
	background: white;
	border-radius: 3px;
	height: 4px;
}

.wifi-menu {
	max-height: 350px;
	min-height: 300px;
	min-width: 375px;
}
.wifi-menu .progress-bar {
	background-color: var(--bg1);
	max-height: 2px;
	color: #4cc2ff;
}
.wifi-menu .header {
	font-family: "Segoe UI";
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 2px;
	padding: 12px;
	background-color: var(--bg1);
	color: white;
	/*border-bottom: 1px solid var(--bg3);*/
	border: none;
}
.wifi-menu .error-message {
	font-family: "Segoe UI";
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 2px;
	padding: 12px;
	background-color: red;
	color: white;
	border-bottom: 1px solid var(--bg3);
}

.wifi-menu .wifi-list {
	background-color: var(--bg1);
	margin-right: 4px;
}

.wifi-menu .wifi-item {
	min-height: 35px;
	padding: 2px 12px;
	margin: 2px 4px;
}

.wifi-menu .wifi-item:hover {
	background-color: var(--bg2);
	border-radius: 6px;
}

.wifi-menu .wifi-item[active="true"] {
	background-color: var(--bg3);
	font-size: 14px;
	border-radius: 6px;
	min-height: 80px;
}
.wifi-menu .wifi-item .icon {
	font-family: "Segoe Fluent Icons";
	font-size: 26px;
	margin-right: 10px;
}
.wifi-menu .wifi-item .name {
	font-size: 14px;
	margin-right: 10px;
}
.wifi-menu .wifi-item .password {
	font-size: 14px;
}
.wifi-menu .wifi-item .status {
	font-size: 14px;
}
.wifi-menu .wifi-item .strength {
	font-size: 14px;
}
.wifi-menu .wifi-item .controls-container {
	padding-top: 8px;
}
.wifi-menu .wifi-item .connect {
	background-color: rgba(255, 255, 255, 0.15);
	padding: 4px 30px;
	border-radius: 4px;
	border: none;
	font-size: 14px;
}
.wifi-menu .wifi-item .connect:hover {
	background-color: #fff5;
}
.wifi-menu .wifi-item .connect:pressed {
	background-color: #fff5;
}

.wifi-menu .footer {
	font-size: 12px;
	font-weight: 600;
	padding: 12px;
	margin-top: 2px;
	color: #9399b2;
	background-color: rgba(17, 17, 27, 0.6);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.wifi-menu .footer .settings-button {
	background-color: transparent;
	border: none;
	padding: 0 2px;
	min-width: 26px;
	min-height: 26px;
	color: #fff;
}
.wifi-menu .footer .refresh-icon {
	font-family: "Segoe Fluent Icons";
	background-color: transparent;
	border: none;
	min-width: 26px;
	min-height: 26px;
	color: #fff;
}
.wifi-menu .footer .refresh-icon:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 4px;
}

.battery-widget .icon.status-critical {
	color: var(--red);
	/*color: #ff4444; */
}
.battery-widget .icon.status-low {
	color: #ff9800;
}
.battery-widget .icon.status-medium {
	color: #ffc107;
}
.battery-widget .icon.status-high {
	color: #8bc34a;
}
.battery-widget .icon.status-full {
	color: #4caf50;
}
.battery-widget .icon.status-charging {
	color: #00bcd4;
}
.battery-widget .label.status-critical {
	color: #ff6b6b;
}
.battery-widget .label.status-low {
	color: #ffb74d;
}

.volume-widget .icon {
	color: var(--blue);
}
